APP_NAME="FastAPI Template"
ENVIRONMENT="development"
DATABASE_URL="sqlite:///./app/app.db"
LOGS_DB_PATH="app/mi_aplicacion_logs.db"
EXTERNAL_DB_URL=""

SECRET_KEY="replace-this-value"
ACCESS_TOKEN_EXPIRE_MINUTES=720
TOKEN_ALGORITHM="HS256"
AUTH_MODE="built_in" # options: built_in, disabled, custom

AUTO_BUILD_PERMISSIONS=true
ENABLE_SEED_DATA=true
SEED_CHECK_EXISTING_USERS=true
